.contactCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  border: 2px solid #17b169;
  border-radius: 10px;
  color: #17b169;
  padding: 12px 16px;
  font-size: 18px;
}

.contactFields {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contactField {
  display: flex;
  gap: 10px;
  align-items: center;
}

.contactBtn {
  border: none;
  border-radius: 6px;
  background-color: #17b169;
  color: #1a1a1a;
  padding: 6px 12px;
  font-family: inherit;
  font-size: 18px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contactBtn:hover {
  background-color: rgb(23, 177, 105, 0.7);
}
