.contactForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 450px;
  border: 2px solid #17b169;
  border-radius: 10px;
  padding: 30px 20px;
  margin-bottom: 30px;
}

.fieldTitle {
  display: block;
  margin-bottom: 8px;
  font-size: 20px;
  color: #17b169;
}

.formField {
  width: 100%;
  height: 40px;
  border: 2px solid #17b169;
  outline: none;
  background-color: transparent;
  border-radius: 8px;
  padding: 10px;
  font-size: 16px;
  color: #17b169;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.formField:hover,
.formField:focus {
  border-color: rgb(23, 177, 105, 0.7);
}

.formBtn {
  border: none;
  border-radius: 8px;
  background-color: #17b169;
  color: #1a1a1a;
  height: 40px;
  padding: 10px;
  font-family: inherit;
  font-size: 18px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.formBtn:hover {
  background-color: rgb(23, 177, 105, 0.7);
}

.error {
  color: #ba0021;
  font-size: 16px;
  margin-top: 4px;
}
